<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/style.css" />
    {% endblock %}

    {% block title %}
        <title>Liste des filtres</title>
    {% endblock %}

    <link rel="icon" href="/image/favicon.png">
</head>

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created_at</th>
                <th>Modified_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for filter in filters %}
            <tr>
                <td>{{ filter.id }}</td>
                <td>{{ filter.name }}</td>
                <td>{{ filter.createdAt ? filter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ filter.modifiedAt ? filter.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_filter_show', {'id': filter.id}) }}">show</a>
                    <a href="{{ path('app_filter_edit', {'id': filter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_filter_new') }}">Create new</a>
{% endblock %}
