<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/style.css" />
    {% endblock %}

    {% block title %}
        <title>Liste des programmes</title>
    {% endblock %}

    <link rel="icon" href="/image/favicon.png">
</head>

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>Modified_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.id }}</td>
                <td>{{ program.content }}</td>
                <td>{{ program.createdAt ? program.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ program.modifiedAt ? program.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_program_show', {'id': program.id}) }}">show</a>
                    <a href="{{ path('app_program_edit', {'id': program.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_program_new') }}">Create new</a>
{% endblock %}
