{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Program</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ program.content }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ program.createdAt ? program.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified_at</th>
                <td>{{ program.modifiedAt ? program.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_program_index') }}">back to list</a>

    <a href="{{ path('app_program_edit', {'id': program.id}) }}">edit</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
