{% extends 'base.html.twig' %}

{% block title %}Circuits{% endblock %}

{% block body %}

    <section id="circuits">

        <div class="title-circuit-container">
            <svg width="57" height="46" viewBox="0 0 57 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.782 34.4512C40.5616 33.7471 40.3209 33.0484 40.1344 32.3368C40.0849 32.1491 40.1464 31.8862 40.2534 31.7178C41.1693 30.2654 42.1066 28.8266 43.0387 27.3845C43.1237 27.2534 43.2138 27.1256 43.2603 26.9038C43.1011 26.9582 42.938 27.0046 42.7823 27.0678C40.5399 27.9824 38.3244 28.964 36.047 29.7859C35.0175 30.158 33.8757 30.2863 32.771 30.3951C31.6715 30.5034 30.8956 29.8505 30.5625 28.8859C30.1728 27.7561 29.876 26.5777 29.706 25.399C29.3406 22.8643 29.2729 20.3093 29.375 17.7537C29.3815 17.5917 29.3406 17.4279 29.2159 17.2455C29.015 17.6268 28.7954 17.9993 28.6168 18.3906C27.4197 21.0037 26.0497 23.5214 24.3114 25.8239C23.7317 26.5909 23.0718 27.3002 22.1787 27.755C21.5111 28.0946 20.8511 28.007 20.1774 27.7921C19.0313 27.4262 18.3207 26.5261 17.5301 25.7163C15.8496 23.9937 14.6797 21.9295 13.4364 19.9123C13.3481 19.7691 13.2555 19.6267 13.0562 19.5105C13.092 19.9651 13.147 20.419 13.1618 20.8739C13.207 22.2427 13.2392 23.6119 13.2714 24.9811C13.2902 25.7713 12.9192 26.4296 12.5327 27.0789C12.4671 27.1897 12.3334 27.2607 12.3088 27.2816C12.0516 27.0685 11.8094 26.9262 11.6518 26.7213C11.5195 26.5486 11.3888 26.2842 11.4254 26.092C11.8845 23.6488 11.5631 21.2179 11.2198 18.7979C10.9763 17.0819 10.5828 15.3856 10.2723 13.6771C10.211 13.3402 10.0673 13.2174 9.71327 13.1647C8.57733 12.9956 7.6985 12.4366 7.25252 11.3457C6.80998 10.2606 6.81856 9.21206 7.57663 8.25949C8.4232 7.19633 10.445 6.84803 11.7155 7.56878C12.657 8.10238 13.4039 8.82597 13.7901 9.86068C13.8933 10.1383 13.8726 10.3386 13.6786 10.5934C13.4568 10.8849 13.4099 11.3095 13.1799 11.591C12.8663 11.9755 12.4742 12.3106 12.0712 12.6084C11.8138 12.7982 11.7448 12.9405 11.9018 13.2257C13.1311 15.4704 14.3206 17.7369 15.586 19.962C16.2773 21.1764 17.0307 22.3673 17.8742 23.4824C18.5028 24.3125 19.2908 25.0354 20.0658 25.7439C20.7518 26.3708 21.2862 26.3983 21.9031 25.7304C22.7338 24.8306 23.5598 23.8855 24.1666 22.8345C25.3798 20.7345 26.4803 18.567 27.5548 16.3926C28.2306 15.0249 28.7659 13.5892 29.3784 12.1898C29.5505 11.7968 29.4683 11.5414 29.126 11.2586C28.0397 10.3607 27.6543 8.77927 28.2753 7.60861C28.8166 6.5901 29.7504 6.06887 30.9058 5.95304C32.09 5.83414 32.9905 6.3048 33.8607 7.12317C34.4853 7.71107 34.7848 8.27652 34.7138 9.07403C34.6309 9.99775 34.1577 10.7248 33.424 11.2476C32.9688 11.5727 32.433 11.8183 31.8963 11.993C31.5104 12.119 31.3596 12.2648 31.3498 12.67C31.2977 14.8302 31.1654 16.9885 31.1582 19.149C31.1481 21.8116 31.1826 24.4792 31.7419 27.1091C31.8266 27.5082 31.983 27.8961 32.1351 28.278C32.2704 28.6181 32.5119 28.7818 32.923 28.7518C34.5289 28.6342 36.0083 28.0837 37.4806 27.5185C40.6734 26.293 43.7261 24.778 46.7251 23.1584C47.1032 22.9539 47.2955 23.0181 47.497 23.3535C47.6687 23.6396 47.9002 23.8928 48.0496 24.1877C48.1088 24.3055 48.0762 24.5614 47.9834 24.6434C46.4862 25.9714 45.1155 27.4156 43.919 29.0104C42.9042 30.3627 42.0067 31.7906 41.417 33.3882C41.2795 33.7601 41.072 34.1064 40.8963 34.4642L40.7835 34.4496L40.782 34.4512ZM10.6753 8.75158C10.5893 8.73736 10.4007 8.69272 10.2094 8.67676C9.47798 8.61407 8.7644 9.03944 8.56596 9.64597C8.16125 10.8883 9.25614 11.959 10.6633 11.6969C11.3876 11.5626 12.2332 10.8197 12.2616 10.2931C12.2923 9.72791 11.5753 8.99668 10.6753 8.75158ZM30.8376 10.5938C31.9913 10.9833 32.9168 9.89724 33.1886 9.03197C33.3212 8.61168 32.4577 7.63434 31.851 7.48552C30.902 7.25182 29.7981 7.80099 29.5962 8.60656C29.4017 9.38079 30.0295 10.3852 30.8376 10.5938Z" fill="#F28D00"/>
                <path d="M24.1894 34.2031C23.7258 34.2131 23.2482 34.2979 22.8004 34.2191C20.7788 33.8626 18.7792 33.3053 16.7459 33.1192C14.7349 32.9352 12.684 32.7778 10.6674 33.1883C10.5925 33.2035 10.5191 33.2279 10.3139 33.2827C10.4957 33.4569 10.5985 33.5982 10.7378 33.6816C12.2975 34.6112 14.0147 35.2026 15.7531 35.6214C19.4194 36.5048 23.1117 37.2981 26.8177 37.996C29.0665 38.4202 31.3563 38.6691 33.6373 38.8617C35.3067 39.0022 36.9937 38.9465 38.6725 38.9327C39.4555 38.9259 39.5505 38.6945 39.1127 38.042C38.614 37.3006 37.9293 36.7505 37.161 36.3006C35.4666 35.3074 33.6675 34.5303 31.8011 33.941C29.4296 33.1928 27.0517 32.4312 24.6285 31.8868C22.2843 31.3606 19.8873 31.0536 17.5013 30.7466C15.9795 30.5505 14.4342 30.4384 12.9029 30.4564C10.9875 30.4784 9.07571 30.6729 7.1628 30.7896C6.59193 30.8239 6.01929 30.8499 5.44749 30.8652C5.37018 30.8671 5.22977 30.7991 5.22316 30.7493C5.20686 30.6351 5.20977 30.4604 5.28219 30.4024C5.97937 29.8334 6.64996 29.1142 7.60411 29.0905C10.339 29.0225 13.0853 28.9046 15.8131 29.0679C20.8062 29.3668 25.7334 30.1685 30.4961 31.7818C32.1206 32.3318 33.7657 32.8608 35.3161 33.5791C37.0832 34.3977 38.8459 35.2807 40.2445 36.6926C40.7275 37.1798 41.0552 37.7479 41.1541 38.4361C41.2936 39.4086 40.884 40.1742 39.9069 40.3691C38.7874 40.5926 37.6305 40.7924 36.4959 40.756C34.2099 40.6826 31.9118 40.5579 29.6471 40.2412C26.7575 39.8365 23.889 39.2561 21.0254 38.6839C19.0585 38.2911 17.0915 37.8611 15.1661 37.3021C13.4909 36.815 11.8636 36.1525 10.2367 35.5107C9.49855 35.2198 8.87442 34.7379 8.57079 33.9498C8.2077 33.0076 8.5602 32.1649 9.50738 31.7874C10.7341 31.2976 12.0388 31.2688 13.334 31.2679C16.0186 31.2648 18.6791 31.5376 21.2946 32.1835C21.9177 32.3377 22.5417 32.5 23.1452 32.7127C23.5627 32.8598 23.9873 33.0511 23.9128 33.6457C23.8985 33.7624 24.0984 33.9062 24.1988 34.038L24.1892 34.204L24.1894 34.2031Z" fill="#F28D00"/>
                <path d="M53.7206 22.6235C53.2315 24.2667 51.812 25.0999 50.2804 24.6424C48.4411 24.0937 47.3678 22.3985 47.848 20.8C48.356 19.109 50.1328 18.1823 51.8796 18.6965C53.2722 19.1068 54.1864 21.0564 53.7197 22.6233L53.7206 22.6235ZM50.4925 23.2701C51.3963 23.4976 52.0895 23.0961 52.3101 22.2171C52.5407 21.3007 51.9973 20.3013 51.1606 20.1026C50.3484 19.9094 49.5572 20.416 49.3624 21.2548C49.1774 22.0492 49.7588 23.0853 50.4918 23.2689L50.4925 23.2701Z" fill="#F28D00"/>
            </svg>
            <h1>Les 5 circuits</h1>
            <svg width="163" height="151" viewBox="0 0 190 198" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M97.175 18.9382C94.5212 18.6568 91.877 18.2433 89.2214 18.0896C72.2953 17.2673 57.1911 21.839 44.3835 33.0092C40.9099 36.0922 37.921 39.6721 35.5149 43.6316C34.8314 44.731 34.6814 45.7746 35.8053 46.6849C36.8739 47.5356 38.1449 47.3888 39.1241 46.2019C42.1174 42.462 45.5969 39.1317 49.473 36.2967C61.6363 27.6281 75.1643 23.4228 90.2319 24.5039C101.24 25.2988 110.799 29.3736 118.417 37.4749C125.761 45.3168 128.456 54.6385 127.248 65.1205C126.695 69.7017 125.483 74.1774 123.648 78.4115C120.354 78.029 117.139 77.5202 113.913 77.2909C101.326 76.4128 89.4003 78.9695 78.0157 84.1274C72.9023 86.4447 67.9111 89.0319 63.641 92.6781C57.8452 97.6149 54.7132 103.836 56.1464 111.576C57.4058 118.416 62.1004 122.258 68.6137 124.055C76.8278 126.326 84.7763 125.089 92.4267 121.868C106.144 116.084 116.288 106.195 124.365 94.0264C125.711 92.0016 126.897 89.876 128.204 87.7061C133.316 89.813 137.969 92.8852 141.903 96.7506C155.523 110.276 159.107 126.268 152.974 144.1C148.846 156.095 140.395 164.604 128.909 170.139C128.342 170.417 127.756 170.645 127.203 170.965C126.864 171.137 126.564 171.374 126.319 171.663C126.075 171.952 125.892 172.287 125.781 172.648C125.669 173.009 125.632 173.389 125.672 173.765C125.711 174.142 125.826 174.507 126.01 174.839C126.729 176.314 128.051 176.899 129.671 176.224C141.958 171.18 152.163 163.653 158.668 151.859C163.37 143.333 164.754 134.13 163.459 124.542C161.767 112.013 156.814 100.957 147.772 91.8077C143.629 87.5592 138.679 84.1643 133.211 81.8203C132.588 81.5571 131.991 81.2434 131.483 81.011C132.445 77.4211 133.546 73.9646 134.316 70.4386C136.638 59.3512 135.792 48.6715 129.122 39.0158C123.979 31.5969 117.085 26.2866 108.815 22.6729C107.582 22.1288 106.348 21.5841 105.111 21.039L97.175 18.9382ZM120.406 85.3599C120.268 85.6309 120.2 85.8115 120.098 85.9765C112.021 99.3763 101.143 109.71 86.658 116.179C78.8291 119.68 71.7111 118.882 65.2083 113.151C61.5102 109.896 61.0198 106.501 64.1839 102.821C66.1476 100.403 68.4449 98.2705 71.009 96.4864C82.0738 89.2805 94.4947 85.747 107.665 84.6652C111.921 84.308 116.209 84.5419 120.406 85.3599Z" fill="#F28D00"/>
            <path d="M119.346 183.16C120.81 177.697 122.074 172.784 123.436 167.897C123.851 166.347 124.65 164.913 125.233 163.415C125.882 161.742 125.335 160.178 123.927 159.557C122.678 159.017 121.565 159.565 120.669 161.166C116.635 168.383 113.999 176.142 111.805 184.064C111.11 186.654 112.269 188.401 114.878 189.068C121.803 190.838 128.871 191.989 135.997 192.508C137.959 192.662 139.873 192.559 141.48 191.182C143.649 189.281 143.254 186.642 140.519 185.672C138.967 185.217 137.368 184.941 135.754 184.85C130.412 184.272 125.055 183.747 119.346 183.16Z" fill="#F28D00"/>
            </svg>
        </div>
        

        <h2>5 offres</h2>

        <div class="select-container">
            <select name="filter" id="filter-select">
                <option value="">Filtres</option>
                {% for circuit in circuits %}
                    {% for f in circuit.filter|slice(1) %}
                        <option value="">{{f.name}}</option>
                    {% endfor %}
                {% endfor %}
            </select>
            <select name="filter" id="filter-select">
                <option value="">Pertinence</option>
                <option value="">Gastronomie</option>
                <option value="">Oenologie</option>
                <option value="">Diner</option>
                <option value="">Maison d'hôte</option>
                <option value="">En amoureux</option>
                <option value="">Solo</option>
            </select>
        </div>
        <div class="card-circuit-container">

            <svg width="52" height="224" viewBox="0 0 52 224" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M-64.4377 148.974C-64.7472 146.688 -63.2672 144.751 -60.9724 144.543C-52.7177 143.808 -40.7162 141.05 -30.3652 132.125C-25.4443 127.885 -9.68723 112.034 -13.1959 86.1196L-13.2034 86.0638C-13.3604 84.9041 -17.3497 57.5848 -42.1772 40.5127C-54.8496 31.7978 -67.4918 29.4933 -75.8543 29.1016C-78.3381 28.9864 -80.5135 26.943 -80.7414 24.4343C-80.9634 21.9702 -79.1311 20.0777 -76.6472 20.193C-67.0022 20.6535 -52.435 23.3176 -37.7433 33.4179C-9.54105 52.814 -4.72113 82.721 -4.2667 86.0773L-4.25764 86.1442C-0.199456 116.117 -18.2951 134.328 -23.9358 139.192C-35.8163 149.441 -49.5411 152.587 -58.9648 153.431C-61.3922 153.65 -63.8054 151.829 -64.361 149.376C-64.3903 149.242 -64.4196 149.108 -64.4377 148.974Z" fill="#85A9A6"/>
                <path d="M-85.5883 177.279C-84.7419 174.273 -81.8604 172.663 -78.8979 173.64C-68.2496 177.173 -51.8583 180.21 -34.1959 174.698C-25.8008 172.081 2.30553 160.877 11.901 126.801L11.9217 126.728C12.3511 125.203 22.1063 89.1228 0.461815 54.55C-10.5855 36.9022 -25.0469 27.2327 -35.2227 22.2434C-38.2457 20.7629 -39.8473 17.0535 -38.7797 13.8148C-37.7285 10.6347 -34.4337 9.27081 -31.4107 10.7514C-19.679 16.5167 -3.0203 27.6695 9.78907 48.1253C34.374 87.4018 24.2571 127.143 23.0143 131.557L22.9895 131.645C11.8911 171.058 -20.3906 183.933 -30.0152 186.937C-50.2904 193.27 -69.031 189.787 -81.1902 185.761C-84.3233 184.726 -86.3403 181.165 -85.7092 177.819C-85.6735 177.637 -85.6378 177.455 -85.5883 177.279Z" fill="#85A9A6"/>
            </svg>

            {% for circuit in circuits %}
                <div class="card-circuit">
                    <img src="/image/uploads/circuits/{{circuit.image}}" alt="">
                    <h3>{{circuit.title}}</h3>
                    <p>{{circuit.locality}}</p>
                    <div class="filter-circuit-container">
                        {% for f in circuit.filter %}
                            <p class="filter-label">{{f.name}}</p>
                        {% endfor %}
                    </div>
                    <div class="discover-circuit">
                        <p>{{circuit.content}}</p>
                        <p>Découvrez...</p>
                    </div>
                    <p>
                        <a href="{{ path('app_circuit_show', {'id': circuit.id}) }}">Accéder au parcours</a>
                    </p>
                </div>
            {% endfor %}

            <svg width="95" height="217" viewBox="0 0 95 217" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M109.959 7.1317C110.102 10.7807 107.441 13.9862 103.745 14.4689C90.4513 16.1813 70.8644 21.3832 52.9643 36.3778C44.4551 43.5014 16.8582 69.9621 18.4761 111.329L18.4796 111.418C18.552 113.269 20.7212 156.86 57.7387 182.658C76.633 195.827 96.4647 198.709 109.757 198.797C113.705 198.821 116.865 201.961 116.843 205.972C116.818 209.913 113.602 213.069 109.653 213.045C94.3238 212.929 71.4737 209.594 49.5682 194.332C7.51941 165.023 4.42177 117.331 4.21223 111.974L4.20805 111.867C2.33679 64.021 34.0306 33.6214 43.7849 25.451C64.3307 8.23194 86.7289 2.29647 101.906 0.332526C105.815 -0.176338 109.389 2.59023 109.898 6.4923C109.925 6.7052 109.951 6.91811 109.959 7.1317Z" fill="#F28D00"/>
            </svg>
        </div>
    </section>

    

    

{% endblock %}
