{% extends 'base.html.twig' %}

{% block title %}Circuit{% endblock %}

{% block body %}
    <section id="show-circuit">
        <image src="/image/{{circuit.image}}" class="show-circuit-banner">
        <div class="show-circuit-container">
            <div class="show-circuit-title">
                <h1>{{ circuit.title }}</h1>
                <p>{{circuit.stage}}</p>
            </div>
            <div class="show-circuit-icone">
                <div class="circuit-icone">
                    <img src="/image/icone-circuit-1.png">
                    <p>{{ circuit.relationship }}</p>
                </div>
                <div class="circuit-icone-down">
                    <div class="circuit-icone">
                        <img src="/image/icone-circuit-2.png">
                        <p>{{ circuit.duration }}</p>
                    </div>
                    <div class="circuit-icone">
                        <img src="/image/icone-circuit-2.png">
                        <p>{{ circuit.price }}</p>
                    </div>
                </div>
            </div>
            <p class="show-circuit-fullcontent">{{ circuit.fullContent }}</p>
            <div class="show-circuit-discover">
                <div class="show-circuit-discover-title">
                    <h2>Vous découvrirez</h2>
                    <svg width="55" height="59" viewBox="0 0 55 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.607 1.3107C19.653 1.46057 18.69 1.56347 17.7473 1.75807C11.7538 3.05322 6.9023 6.05956 3.4716 11.1529C2.54617 12.553 1.83671 14.081 1.36649 15.687C1.23053 16.1344 1.27585 16.5124 1.75398 16.7249C2.20717 16.9218 2.63771 16.7518 2.86884 16.2462C3.56485 14.662 4.4692 13.1751 5.55857 11.824C8.99834 7.66339 13.3332 4.93219 18.7013 3.90099C22.6237 3.14941 26.3467 3.67731 29.7684 5.79114C33.0699 7.84011 34.885 10.8397 35.4447 14.6089C35.6804 16.2585 35.6758 17.933 35.4311 19.5814C34.2437 19.7559 33.0722 19.8789 31.9233 20.1004C27.4412 20.9705 23.512 22.977 20.0156 25.8401C18.4452 27.1263 16.9429 28.4953 15.7918 30.1662C14.2282 32.4299 13.7161 34.8927 14.942 37.4584C16.0229 39.7266 18.0238 40.628 20.4688 40.6459C23.5528 40.6705 26.2153 39.4962 28.5878 37.6575C32.8411 34.3581 35.4605 29.9604 37.1442 24.9611C37.4252 24.1289 37.6404 23.2767 37.8942 22.3976C39.8783 22.6548 41.7926 23.2915 43.5297 24.2721C49.5573 27.7169 52.3082 32.9601 51.8346 39.7534C51.5151 44.3233 49.3578 48.0813 45.8614 51.0854C45.6892 51.2353 45.5057 51.3695 45.3425 51.5328C45.2401 51.6244 45.1573 51.7353 45.0989 51.8589C45.0406 51.9826 45.008 52.1166 45.0029 52.2529C44.9978 52.3892 45.0204 52.5252 45.0694 52.6528C45.1184 52.7803 45.1928 52.8969 45.2881 52.9957C45.6779 53.443 46.1945 53.5236 46.6976 53.1366C50.5203 50.2287 53.3822 46.6497 54.5515 41.9277C55.3967 38.5142 55.0183 35.1746 53.6678 31.9513C51.9026 27.7392 49.1358 24.3459 45.1182 21.9994C43.2721 20.9048 41.224 20.1832 39.0929 19.8767C38.8505 19.8431 38.6125 19.7894 38.4131 19.7559C38.4131 18.4138 38.4743 17.1052 38.4131 15.8033C38.1865 11.7188 36.8904 8.07274 33.6545 5.32811C31.162 3.22099 28.2547 2.01308 25.0257 1.52544C24.5438 1.45088 24.0611 1.37632 23.5777 1.30176L20.607 1.3107ZM34.9484 22.3081C34.9258 22.4155 34.919 22.4849 34.8986 22.552C33.3305 27.9808 30.4958 32.6022 26.0386 36.2125C23.6298 38.1653 21.067 38.5522 18.2572 37.1609C16.6596 36.3713 16.1702 35.2327 16.9316 33.6535C17.3915 32.6264 17.9948 31.6679 18.724 30.806C21.9167 27.2583 25.9275 24.8649 30.4301 23.2566C31.8841 22.7342 33.4049 22.415 34.9484 22.3081Z" fill="#F28D00"/>
                    <path d="M43.738 56.5212C43.738 54.479 43.7199 52.647 43.738 50.815C43.738 50.2357 43.883 49.6608 43.9465 49.0837C44.0167 48.4395 43.6791 47.9451 43.1285 47.8601C42.6413 47.7885 42.3037 48.0838 42.1405 48.7258C41.4063 51.6203 41.2114 54.5729 41.1865 57.5413C41.1865 58.5098 41.7553 59.0109 42.7297 58.9997C45.3161 58.9697 47.8945 58.7107 50.434 58.2257C51.1342 58.096 51.7936 57.8813 52.2264 57.2505C52.8065 56.3848 52.4213 55.5012 51.3744 55.4185C50.7893 55.4049 50.2046 55.4582 49.6319 55.5773C47.7103 55.8748 45.7887 56.1924 43.738 56.5212Z" fill="#F28D00"/>
                    </svg>
                </div>
                <div class="show-circuit-discover-container">
                    {% for d in circuit.discover %}
                        <div class="show-circuit-discover-card">
                            <div>
                                <image src="/image/{{ d.image }}">
                            </div>
                            <p>{{ d.content }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="show-circuit-product">
                <div class="show-circuit-product-title">
                    <h2>Les producteurs partenaires de ce séjour</h2>
                    <svg width="175" height="52" viewBox="0 0 175 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.6642 17.868C37.4316 5.79386 72.1365 0.640038 104.865 2.55646C105.001 2.56447 105.181 2.57453 105.4 2.58677C108.46 2.75793 119.116 3.35394 122.916 4.69803L13.6642 17.868ZM13.6642 17.868C9.42812 20.0236 5.45385 22.5099 3.36574 25.7377L13.6642 17.868ZM123.058 4.29736C120.962 3.5562 116.902 3.0482 113.166 2.70896C109.908 2.41326 106.842 2.24178 105.423 2.16239C105.205 2.15019 105.025 2.14016 104.89 2.1322L104.89 2.13219C72.1141 0.21302 37.3274 5.36996 13.4715 17.489L13.4713 17.4892C9.23459 19.645 5.16466 22.1742 3.00884 25.5067L3.00764 25.5086C1.69538 27.5606 1.21059 29.5028 1.45236 31.3292C1.6936 33.1516 2.65051 34.8003 4.11192 36.2842C7.02102 39.238 12.0154 41.6257 17.7951 43.5424C29.3763 47.383 44.3702 49.4134 52.9804 50.1736C74.546 52.1045 96.2575 52.0408 117.809 49.9835C128.133 49.0049 138.392 47.4793 148.537 45.4138L148.538 45.4136C149.677 45.1789 150.888 44.9456 152.14 44.7044C156.896 43.7882 162.244 42.7581 166.445 41.1008C169.1 40.0535 171.363 38.7326 172.734 36.9776C174.13 35.1918 174.573 32.9952 173.655 30.313C172.466 26.828 169.155 23.6153 165.193 20.9921L164.959 21.3464L165.193 20.992C156.316 15.1161 144.941 12.0296 133.136 10.5964C121.327 9.16261 109.056 9.3797 98.3631 10.1358C97.8845 10.1695 97.3857 10.1869 96.8826 10.2045C96.7221 10.2101 96.5611 10.2157 96.4002 10.2219C95.7433 10.2471 95.0894 10.2814 94.5157 10.3645C93.9521 10.4461 93.4108 10.5815 93.0122 10.8422C92.8066 10.9768 92.6273 11.1522 92.5087 11.3806C92.3888 11.6115 92.3447 11.8698 92.3696 12.1456L92.4065 12.5532L92.8152 12.532C94.7411 12.4322 96.7024 12.3188 98.6886 12.2041C109.028 11.6067 120.046 10.9701 130.266 11.9863C142.447 13.1974 155.144 16.8857 164.08 22.7403L164.313 22.3848L164.081 22.7403C166.688 24.4482 168.87 27.0069 170 29.5761C171.136 32.1577 171.171 34.6333 169.709 36.3161L169.709 36.3164C168.844 37.3138 167.495 38.1449 165.882 38.8449C164.275 39.5423 162.44 40.0945 160.637 40.5526C127.997 48.8389 89.1819 51.4211 51.8814 47.9812C39.9869 46.8834 27.0245 44.5735 16.3549 40.4366C13.2835 39.2432 10.2467 37.6707 8.00586 35.8853C5.745 34.0841 4.39519 32.1489 4.46571 30.2388L4.46575 30.2376C4.49963 29.2475 5.00099 28.0544 5.77537 26.8778C6.5436 25.7105 7.54859 24.608 8.52123 23.8054L8.52148 23.8052C15.113 18.3574 24.3807 14.1601 34.7677 11.0517C45.1493 7.94498 56.6203 5.93456 67.5945 4.84442L67.5961 4.84426C77.6988 3.80229 87.8731 3.52472 98.0228 4.01416C103.04 4.27184 108.075 4.74975 113.196 5.23574C114.033 5.31515 114.871 5.39477 115.713 5.47369L115.714 5.47375C116.29 5.5269 117.227 5.67068 118.268 5.83033C118.842 5.91837 119.448 6.01124 120.042 6.09641C120.867 6.21473 121.665 6.31731 122.3 6.36572C122.617 6.38986 122.904 6.4014 123.137 6.39287C123.254 6.38861 123.367 6.37907 123.468 6.36092C123.562 6.34403 123.68 6.31407 123.786 6.24999L123.788 6.24826C124.071 6.07372 124.308 5.91464 124.452 5.76285C124.524 5.68772 124.621 5.56698 124.651 5.40257C124.686 5.20419 124.611 5.03704 124.509 4.92407C124.421 4.8277 124.311 4.76427 124.224 4.72119C124.131 4.67497 124.023 4.6323 123.911 4.59129C123.803 4.55217 123.665 4.50519 123.512 4.45339C123.368 4.40478 123.212 4.35194 123.058 4.29736Z" fill="#F28D00" stroke="#F28D00" stroke-width="0.85"/>
                    </svg>
                </div>
                <div class="show-circuit-product-container">
                    {% for p in circuit.producer %}
                        <div class="show-circuit-product-card">
                            <img src="/image/{{ p.image }}" alt="">
                            <div class="show-circuit-card-text">
                                <h3>{{ p.name }}</h3>
                                <p class="product">{{ p.product }}</p>
                                <p>{{ p.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="show-circuit-program">
                <div class="show-circuit-program-title">
                    <h2>Circuit jour par jour</h2>
                    <svg width="69" height="21" viewBox="0 0 69 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.9106 11.0675C14.4659 11.0836 14.0284 11.1 13.5987 11.1166C17.9214 11.4824 23.1969 11.4943 29.055 10.7101C24.0372 10.7918 19.1541 10.9144 14.9106 11.0675Z" stroke="#F28D00" stroke-width="4"/>
</svg>
                </div>
                {% for v in circuit.program %}
                    <div class="show-circuit-program-card">
                        {{v.content|raw}}
                    </div>
                {% endfor %}
            </div>
            <div class="show-circuit-details">
                <div class="show-circuit-details-title">
                    <h2>Détails pratiques</h2>
                    <svg width="109" height="78" viewBox="0 0 109 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M49.3545 41.7619L51.0105 21.6656C51.0505 21.263 51.0087 20.8564 50.8876 20.4704C50.7665 20.0844 50.5686 19.7269 50.3057 19.4193C50.0429 19.1118 49.7205 18.8606 49.3581 18.6808C48.9956 18.5011 48.6006 18.3965 48.1967 18.3734C47.7928 18.3503 47.3883 18.4091 47.0077 18.5463C46.6271 18.6835 46.2782 18.8963 45.982 19.1718C45.6857 19.4473 45.4483 19.78 45.284 20.1497C45.1196 20.5193 45.0317 20.9184 45.0255 21.323L43.3664 41.4288C43.3323 41.8288 43.3787 42.2315 43.5031 42.6132C43.6274 42.9949 43.8271 43.3478 44.0903 43.6509C44.3535 43.9541 44.6749 44.2013 45.0353 44.378C45.3958 44.5546 45.7881 44.6571 46.1889 44.6794C46.5897 44.7017 46.991 44.6434 47.3688 44.5078C47.7467 44.3722 48.0934 44.1621 48.3886 43.8901C48.6838 43.618 48.9214 43.2895 49.0873 42.9239C49.2532 42.5583 49.3441 42.1632 49.3545 41.7619Z" fill="#F28D00"/>
                    <path d="M32.468 43.4477C26.4447 36.4082 19.6629 30.0549 12.2458 24.5031C11.9204 24.2627 11.5497 24.0907 11.156 23.9973C10.7624 23.9039 10.3539 23.8912 9.95522 23.9597C9.5565 24.0283 9.17573 24.1768 8.83589 24.3963C8.49605 24.6158 8.20416 24.9018 7.9777 25.2371C7.75124 25.5724 7.59492 25.9499 7.51817 26.3472C7.44142 26.7444 7.44581 27.1531 7.53107 27.5486C7.61632 27.944 7.78067 28.3182 8.01427 28.6485C8.24787 28.9788 8.54584 29.2585 8.89032 29.4707C15.8726 34.7231 22.2547 40.7291 27.9212 47.3798C30.4364 50.34 34.9612 46.3794 32.4206 43.4318L32.468 43.4477Z" fill="#F28D00"/>
                    <path d="M95.2292 60.0689C91.5363 59.0648 87.8401 58.1018 84.0763 57.4642C80.486 56.8979 76.8635 56.5596 73.2304 56.4513C72.8304 56.4171 72.4277 56.4636 72.046 56.5879C71.6643 56.7123 71.3114 56.912 71.0082 57.1752C70.7051 57.4384 70.4579 57.7597 70.2812 58.1202C70.1046 58.4807 70.002 58.8729 69.9797 59.2738C69.9574 59.6746 70.0158 60.0758 70.1514 60.4537C70.287 60.8315 70.497 61.1783 70.7691 61.4735C71.0412 61.7687 71.3697 62.0063 71.7353 62.1722C72.1008 62.3381 72.4959 62.429 72.8973 62.4394C76.4446 62.5558 79.9819 62.8831 83.4904 63.4197L84.6186 63.6106C85.1052 63.7011 84.192 63.5299 84.6754 63.6298L85.2568 63.7522C86.0467 63.9134 86.8398 64.0968 87.6296 64.2896C89.5821 64.7588 91.449 65.2626 93.3444 65.7759C94.0986 66.0117 94.9148 65.9477 95.623 65.597C96.3312 65.2463 96.8768 64.6361 97.1465 63.8932C97.401 63.1394 97.3457 62.3153 96.9926 61.6023C96.6395 60.8893 96.0177 60.3457 95.2638 60.0912L95.2292 60.0689Z" fill="#F28D00"/>
                    <path d="M64.9106 49.8316C69.3048 43.848 75.1366 39.0688 81.8669 35.9358C82.5509 35.5665 83.0649 34.9461 83.3005 34.2053C83.5362 33.4646 83.4751 32.6613 83.1302 31.9647C82.7853 31.2681 82.1834 30.7326 81.4514 30.4709C80.7194 30.2093 79.9145 30.242 79.2062 30.5622C71.5523 34.1676 64.928 39.6401 59.9429 46.4761C59.497 47.1345 59.3308 47.943 59.4808 48.7239C59.6307 49.5049 60.0846 50.1943 60.7427 50.6408C61.4078 51.0688 62.2125 51.2235 62.989 51.0728C63.7655 50.922 64.4539 50.4774 64.9106 49.8316Z" fill="#F28D00"/>
                    </svg>
                </div>
                <div>
                    <h3>Infos Covid - 19</h3>
                    <p>Des mesures sanitaires relatives à la COVID-19 peuvent être exigées (vaccination, test PCR, formulaire, etc.)</p>
                </div>
                <div>
                    <h3>La destination</h3>
                    <p>{{circuit.destination}}</p>
                </div>
            </div>
        </div>
        <div class="btn-fix-container">
            <p class="btn-fix">
                <a href="">Je suis intéressé</a>
            </p>
        </div>
    </section>
{% endblock %}
