<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Loca{% endblock %}</title>
        <link rel="icon" href="/image/favicon.png">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/style.css" />
        {% endblock %}

        {% block javascripts %}
            <script src="/js/script.js"></script>
        {% endblock %}
        <script src="https://unpkg.com/typebot-js@2.2"></script>
        <script>
        var typebotCommands = Typebot.initBubble({
            url: "https://viewer.typebot.io/my-typebot-0y30071",
            proactiveMessage: {
            avatarUrl:
                "https://s3.fr-par.scw.cloud/typebot/public/typebots/cl5bhn4jo266209men0y30071/Logo Loca responsive VF.png",
            textContent: "J'ai une question ! ",
            delay: 0,
            },
            button: { color: "#33706B" },
        });
        </script>
    </head>
            {% block header %}
            <header>
            <nav>
                <a href="{{ path('app_index') }}">
                    <img src="/image/Logo.png" alt="Logo" id="logo">
                </a>
                <ul class="desktop_nav">
                    <li>
                        <a href="{{ path('app_index') }}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('app_concept') }}">Concept</a>
                    </li>
                    <li>
                        <a href="{{ path('app_circuit_index') }}">Circuits</a>
                    </li>
                </ul>
                <div class="mobile-nav">
                    <a id="burger" onClick="menu();">
                    <img src="/image/Menu.png" alt="" id="img-burger">
                    </a>
    
                    <ul class="mobile_link-group">
                        <a onclick="menu()">
                        <img src="/image/close.png" alt=""></a>
                        <li class="mobile_link">
                            <a href="{{ path('app_index') }}">Accueil</a>
                        </li>
                        <li class="mobile_link">
                            <a href="{{ path('app_concept') }}">Concept</a>
                        </li>
                        <li class="mobile_link">
                            <a href="{{ path('app_circuit_index') }}">Circuits</a>
                        </li>
                    </ul>
                    
                </div>
            </nav>
        </header>
            {% endblock %}
    
    {% block body %}
        <body>
            <header id="top">
                <nav>
                    <a href="">
                        <img src="/image/logo.png" alt="Logo" id="logo">
                    </a>
                    <ul class="desktop_nav">
                        <li>
                            <a href="#value">Accueil</a>
                        </li>
                        <li>
                            <a href="#travel">Concept</a>
                        </li>
                        <li>
                            <a href="#quiz">Circuits</a>
                        </li>
                    </ul>
                    <a href="" id="connecter">Se connecter</a>
                    <div class="mobile-nav">
                        <a id="burger" onClick="menu();">
                        <img src="/image/Menu.png" alt="" id="img-burger">
                        </a>
        
                        <ul class="mobile_link-group">
                            <a onclick="menu()">
                            <img src="/image/close.png" alt=""></a>
                            <li class="mobile_link">
                                <a href="#">Accueil</a>
                            </li>
                            <li class="mobile_link">
                                <a href="#">Concept</a>
                            </li>
                            <li class="mobile_link">
                                <a href="#">Circuits</a>
                            </li>
                            <li class="mobile_link">
                                <a href="#">Se connecter</a>
                            </li>
                        </ul>
                        
                    </div>
                </nav>
            {% endblock %}

            {% block footer %}
                <footer id="contact">
                <h1>Restons connectés</h1>
                <p>Cette page a été réfléchie et intégrée de manière éco-conçue pour préserver l’environnement.</p>
                <div class="footer-container">
                    <div class="containerLeft">
                        <article>
                            <img src="/image/logo-white.png">
                            <a href="https://www.instagram.com/mangez_loca/"><img src="/image/footer-fleche.svg" alt=""> Instragram</a>
                            <a href="https://m.facebook.com/Mangez_loca-104896332278725/"><img src="/image/footer-fleche.svg" alt=""> Facebook</a>
                            <a href="https://www.pinterest.fr/Mangez_Loca/_saved/"><img src="/image/footer-fleche.svg" alt=""> Pinterest</a>
                        </article>
    
                        <article>
                            <h1>Ressources</h1>
                            <p>Support</p>
                            <p>Devenir partenaire</p>
                            <p>Termes et conditions</p>
                            <p>Cookies & privacy</p>
                        </article>
                    </div>

                    <article id="footnews">
                        <h1>Inscrivez vous à la newsletter</h1>

                        <!-- Begin Mailchimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="https://app.us11.list-manage.com/subscribe/post?u=826d03620503747317fe9e872&amp;id=b4478b1bca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                        
                                    <div class="mc-field-group">
                                        <input type="email" value="" name="EMAIL" placeholder="yv.pompee@gmail.com" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_826d03620503747317fe9e872_b4478b1bca" tabindex="-1" value=""></div>
                                    <div class="optionalParent">
                                        <div class="clear foot">
                                        
                                            <input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="button" >
                                        </div>
                                    </div>
        
                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                        <a href="">Connexion admin</a>

                        <div>
                            <a href="#top">
                                <svg width="27" height="76" viewBox="0 0 27 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.8537 0.239311C13.9404 0.327212 14.0053 0.444407 14.0053 0.497148C14.0053 0.561609 14.0775 0.614351 14.1858 0.637791C14.4529 0.690532 14.915 1.26482 15.8896 2.75913C18.8711 7.33584 20.5099 9.22278 24.8703 13.0963C26.6679 14.6961 27 15.0418 27 15.3055C27 15.9325 24.069 14.7664 21.6217 13.1725C20.6904 12.5689 19.0227 11.2386 18.2503 10.4885C17.485 9.74432 16.6043 8.73054 16.0267 7.93943C15.4275 7.1073 15.2976 6.90805 14.8644 6.09351C14.6695 5.73604 14.5179 5.48992 14.5179 5.5368C14.5179 5.58368 14.5468 5.87668 14.5829 6.18141C14.6479 6.70881 14.8211 8.75397 14.9078 9.90254C15.1893 13.7057 15.4059 20.1225 15.5286 28.1566C15.6802 37.8257 15.4709 53.1791 15.0882 60.8265C15.0521 61.6 14.9872 62.9185 14.9439 63.7565C14.5973 70.6128 14.027 75.0957 13.4928 75.0957C13.2473 75.0957 12.973 73.9471 12.742 71.9899C12.381 68.802 12.1356 64.2956 11.8973 56.3142C11.7674 52.1301 11.7674 31.5555 11.8973 27.0139C12.0489 21.4644 12.2872 15.4227 12.4532 12.8619C12.6842 9.24036 12.973 6.17555 13.1824 5.0094C13.204 4.8629 13.1535 4.93321 12.9874 5.24379C11.3198 8.50785 8.52594 11.4262 5.01738 13.5651C3.37139 14.5672 1.7254 15.3231 0.736364 15.5282C0.20214 15.6395 7.38754e-07 15.6044 7.38754e-07 15.4051C7.38754e-07 15.1297 0.418717 14.6961 2.31016 13.0377C6.5984 9.25794 8.64144 6.95494 11.4425 2.69467C12.4965 1.09488 12.9874 0.444412 13.2979 0.23345C13.565 0.0459284 13.666 0.0517888 13.8537 0.239311Z" fill="white"/>
                                    </svg>
                                    
                            </a>
                        </div>
                    </article>
                </div>  
                  
                    <p>Loca Inc 2022. Tous droits réservés</p>
                   
                </footer>
            {% endblock %}
    </body>
    {% block script %}
        <script src="/js/quiz.js"></script>
        <script>
            window.axeptioSettings = {
            clientId: "62cb515f4394fd5623855dbd",
            cookiesVersion: "loca-local-fr",
            };
            
            (function(d, s) {
            var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
            e.async = true; e.src = "//static.axept.io/sdk.js";
            t.parentNode.insertBefore(e, t);
            })(document, "script");
            </script>
    {% endblock %}
    
</html>
